createdAt: "2018-06-09T03:32:15.201Z"
updatedAt: "2018-06-12T00:54:37.750Z"
type: "MARKDOWN_NOTE"
folder: "d63afcce60d04356594e"
title: "5 minutes with Maven"
content: "5 minutes with Maven"
tags: []
isStarred: false
isTrashed: true
